 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 @layer utilities {

   /* Chrome, Safari and Opera */
   .no-scrollbar::-webkit-scrollbar {
     display: none;
   }

   .no-scrollbar {
     -ms-overflow-style: none;
     /* IE and Edge */
     scrollbar-width: none;
     /* Firefox */
   }
 }

 .input-phone-number input:focus {
   outline: none !important;
   border: none !important;
 }

 .no-outline {}
 .parent-element:focus-within {
   outline: 2px solid rgba(96, 165, 250, 0.5);
  border-radius: 0.5rem;
   /* Replace with your desired color and size */
 }
 .no-out:focus {
   outline: none;
   /* Remove default outline */
   box-shadow: 0 0 0 2px #0a0032;
   /* Add a custom box shadow or border to indicate focus */
 }